body {
    font-famiy: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    background-color: beige;
    color:black;
    padding: 20px 0;
    text-align: center;

} 

header h1 {
    margin: 2;
}

section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
}

section ul {
    list-style: none;
    padding: 0;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}